$ancho: 720px;
$ancho2: 1024px;
$blue: blue;
$green: rgb(198, 238, 20);
$espaciado: 5px;
$espaciado2: 10px;
$marginGeneral: 10px;
$paddingGeneral: 10px;
$altura: 200px;
$fontSize: 15px;

@import "colores";

body{
    background-color: rgb(241, 178, 83);
}

.logo_navbar {
    height: 40px;
    width: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slogan_navbar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: rgb(187, 184, 184);
}

.contenedorImgIndex, .contenedorImgMasajes, .contenedorImgActividades, .contenedorContacto {
    background-color: rgb(214, 131, 7);
    border: solid 2px red;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
    padding: 5px;
}

.titulos {
    background-color: $colorSecundario;
    color: $colorPrimario;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px red;  
}

.subtitulos {
    color:$colorPrimario;
    font-size: $fontSize*2;
    transition: font-size 250ms;
    -webkit-transition: font-size 250ms;
    -moz-transition: font-size 250ms;
    -ms-transition: font-size 250ms;
    -o-transition: font-size 250ms;
    border: solid 2px red;
}

.subtitulos:hover {
    font-size: $fontSize*2.25;
}

footer {
    border: solid 2px red;
    margin: $marginGeneral/2;
    background-image: linear-gradient(to right,#050505, #494848);          
        .a {
        display: none;
        }
        .footer__links {
            color: white;
            background-color: rgb(214, 131, 7);
        }
        .footer__links--size {
            font-size: 20px;
        }
        .copyrights {
            color: white;
            font-size: 15px;
        }
        .medios_de_pago {
            display: flex;
            padding: 5px;
            align-items: flex-end;
            .medidas_logo_de_pago {
                height: 50px;
                width: 50px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }               
}

.mapContactos {
    width: 360px;
    margin-bottom: 10px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.indexCarouselPrincipal {
    height: $altura + 200;
}

.gradiente {
    background-image: linear-gradient(to right,#050505, #494848);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.border {
    border-radius: solid 2px red;
    -webkit-border-radius: solid 2px red;
    -moz-border-radius: solid 2px red;
    -ms-border-radius: solid 2px red;
    -o-border-radius: solid 2px red;
}

.textoCabañas, .textoPlusmar {
    color: white;
}

.fondo {
    background-color: rgb(241, 178, 83);
}

.boxModal {
    background-color: $colorSecundario;
    padding: 15px;
}

.imagen_plusmar {
    height: $altura/2;
    width: $ancho/3;
}

.slogan_plusmar {
    font-family: cursive ;
    color: white;
}

.nuestrasCabanas_carousel {
    height: 300px;
}
.nuestrasCabanas_contenedores {
    border: solid 2px red;
    margin: 5px;
}

.actividades_imagen {
    height: 200px;
    width: 300px;
}

.masajes_imagen {
    height: 200px;
    width: 300px;
    margin: 5px;
}

.carousel_plusmar {
    height: 200px;
    width: 600px;
} 

.datos_footer {
    font-size: 15px;
    color: white;
}

.logo_whatsapp {
    height: 70px;
    width: 70px;
    position: fixed;
    top: 80px;
    right: 20px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.icono_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.logo_face, .logo_twitter, .logo_insta {
    height: 30px;
    width: 30px;
    margin: 5px;
}

@media only screen and (max-width: 720px) {
    body {
        background-color: rgb(241, 178, 83);
    }
    .indexCarouselPrincipal, .index_imagen_playa, .nuestrasCabanas_carousel  {
        height: 200px;
    }
    .index_carousel2, .index_carousel3 {
        height: 150px;
        width: 300px;
        margin: 10px;
    }
    .masajes_ubicacion_imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .plusmar_cotiza {
        font-size: 30px;
    }
    .logo_whatsapp {
        height: 50px;
        width: 50px;
        position: fixed;
        right: 20px;
        top: 200px;
        border-radius: 10px ;
        -webkit-border-radius: 10px ;
        -moz-border-radius: 10px ;
        -ms-border-radius: 10px ;
        -o-border-radius: 10px ;
    }
    .slogan_navbar{
        font-size: 15px;

    }
    .mapContactos {
        width: 260px;
    }
    .copyrights {
        color: white;
        font-size: 15px;
    }
    .email {
        font-size: 20px;
    }
    .actividades_imagen {
        height: 200px;
        width: 250px;
        margin: 10px;
    }
    .medidas_logo_de_pago {
        height: 40px;
        width: 40px;
    }
    .ubicacion_carousel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icono_redes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}