$ancho: 720px;
$ancho2: 1024px;
$blue: blue;
$green: rgb(198, 238, 20);
$espaciado: 5px;
$espaciado2: 10px;
$marginGeneral: 10px;
$paddingGeneral: 10px;
$altura: 200px;
$fontSize: 15px;

@import "colores";



.logo_navbar {
    height: 40px;
    width: 60px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.separador{
    margin: 15px;
}

.contenedorImg  {
    background-color: rgb(214, 131, 7);
    border: solid 2px red;
    margin-top: 15px;
    margin-bottom: 15px;
    height: $altura;
}

.contenedorImgIndex {
    background-color: rgb(214, 131, 7);
    border: solid 2px red;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.ubicacion_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorDatos, .contenedorImgActividades{
    background-color: rgb(214, 131, 7);
    border: solid 2px red;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.titulos {
    background-color: $colorSecundario;
    color: $colorPrimario;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px red;  
}

.subtitulos {
    background-color: $colorSecundario;
    color:$colorPrimario;
    font-size: $fontSize*2;
    transition: font-size 250ms;
    -webkit-transition: font-size 250ms;
    -moz-transition: font-size 250ms;
    -ms-transition: font-size 250ms;
    -o-transition: font-size 250ms;
}

footer {
    border: solid 2px red;
    margin: $marginGeneral/2;
    background-image: linear-gradient(to right,#050505, #494848);          
        .a {
        display: none;
        }
        .footer__links {
            color: white;
            background-color: rgb(214, 131, 7);
        }
        .footer__links--size {
            font-size: 20px;
        }    
        .footer__logo {
                height: 50px;
                width: 50px;
        }          
}



.subtitulos:hover {
    font-size: $fontSize*2.25;
}
    
.subtitulosIndex {
    color: white;
    border: solid 2px red;
    font-size: 30px;
    transition:font-size 250ms;
    -webkit-transition:font-size 250ms;
    -moz-transition:font-size 250ms;
    -ms-transition:font-size 250ms;
    -o-transition:font-size 250ms;
    padding: 5px;
}

.h4Index {
    background-color: rgb(8, 8, 8);
    color: white;
    border: solid 2px red;
    transition:font-size 250ms;
}

.h4Index:hover {
    font-size: 26px;
    background-color: rgb(197, 144, 64);
}

.subtitulosIndex:hover {
    font-size: 35px;
    background-color: rgb(197, 144, 64);
    }
    
/*.header__nav{
    background-color: $colorSecundario;
    border: solid 2px red;
}*/

.anchoImg {
    width: ($ancho/2) + 40;
}

body{
    background-color: rgb(241, 178, 83);
}

.index__main__section1, .index__main__section2, .actividades_ubicacion_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.index_carousel1 {
    height: $altura + 300;
}


/*.items {
    font-size: 15px;
    color: white;
}

.items:hover {
    font-size: 20px;
}*/

.gradiente {
    background-image: linear-gradient(to right,#050505, #494848);
}

.border {
    border: solid 2px red;
}

.textoCabañas {
    color: white;
}

.fondo {
    background-color: rgb(241, 178, 83);
}

.boxModal {
    align-items: center;
    height: $altura/2;
    width: $ancho/2;
    background-color: $colorSecundario;
}

.imagen_plusmar {
    height: $altura/2;
    width: $ancho/3;
}
.slogan_plusmar {
    font-family: cursive ;
}

@media only screen and (max-width: 720px) {
    body {
        background-color: rgb(241, 178, 83);
    }
    .index_carousel1, .index_imagen_playa,  .nuestrasCabanas_carousel  {
        height: 200px;
    }
    .index_carousel2, .index_carousel3 {
        height: 150px;
        width: 300px;

    }
    .masajes_ubicacion_imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plusmar_cotiza {
        font-size: 30px;
    }
}

.nuestrasCabanas_carousel {
    height: 300px;
}
.nuestrasCabanas_container1, .nuestrasCabanas_container2, .nuestrasCabanas_container3, .nuestrasCabanas_container4 {
    border: solid 2px red;
}

.copyrights {
    color: white;
    font-size: 15px;
}

.actividades_imagen {
    height: 250px;
    width: 350px;
}

.carousel_plusmar {
    height: 200px;
    width: 600px;
} 
